* {
  /*border: solid 1px red;*/
  text-align: center;
  font-family: "Bree Serif", serif;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #00CED1;
}

h1 {
  font-size: 3em;
}

.container {
  width: 900px;
  height: 90%;
  margin: 0 auto;
}

.row {
  width: 100%;
}

header {
  height: 20%;
  color: #fff;
}

main {
  height: 80%;
}

#input-parent {
  position: relative; 
  padding: 5%;
}

#input {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  font-size: 4.5em;
}

#input, .guess {
  border: 1px solid #00b9bc;
  box-shadow: inset 1px 1px 4px #00a4a7;
  -moz-box-shadow: inset 1px 1px 4px #00a4a7;
  -webkit-box-shadow: inset 1px 1px 4px #00a4a7;
}

#submit {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 500px;
  font-size: 1.8em;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

#submit:hover, .btn:hover {
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
  color:#83d244;
}

footer {
  height: 10%;
  background-color: white;
  font-size: 2em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2% auto;
}

#guesses {
  height: 100px;
}

.guess {
  display: inline-block;
  width: 5%;
  font-size: 2em;
  padding: 0 3%;
  margin: auto 3%;
  border-radius: 5%;
  background-color: #fff;
}

#buttons {
  height: 20%;
}

.btn {
  margin: 20px 10px;
  height: 30%;
  width: 100px;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

#hint:hover {
  color: #ba860d;
}

#reset:hover {
  color: #ba2f0d;
}

.contact {
  padding: 1% 1%; 
  color: #000;
  text-decoration: none;
}
